@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-virsa-primary: #47704C;
  --color-virsa-secondary: #FFD242;
  --color-virsa-accent: #E7B957;
  --color-virsa-light: #F7EBA3;
  --color-virsa-success: #10B981;
  --color-virsa-warning: #F59E0B;
  --color-virsa-danger: #EF4444;
  --color-virsa-info: #3B82F6;
  --color-virsa-neutral: #6B7280;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
